  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* shared stylesheet */
  .font-open-sans{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }

  .logo h2{
    font-size: 48px;
    font-weight: 900;
    }

  .color-orange{
    color: #FF7A00;
  }

  .btn{
    background-color:  #FF7A00;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

  }


  /* nicher ei 2ta commad deyar pore alignmenr bhenge zacche but "margin: 0 auto " deyar por hoiche */
  .section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto ;
  }

  .section-heading h2{
    font-size: 36px;
    margin-bottom: 30px;

  }
  .section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
  }



  /* main style  */

  header{
    background-color: #FFF8F3;
    background: url(./images/developer.png), url(./images/header_bg.png), #FFF8F3;
    background-position: top left , right bottom;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
  width: 76%;
  max-width: 1920px ;
  /* border: 1px solid red; */
  margin: 0px auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;

}

nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;

}

#banner{
  /* border: 1px solid blue; */
  margin: 46px 38px 0 230px ;
display: flex;
justify-content: space-between;
align-items: center;
}

#banner .banner-content{
  /* border: 1px solid green; */
  max-width: 585px;
}

#banner .banner-content h2{
  font-size: 46px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
  max-width: 540px;
}


#banner-image img{
  max-width: 585px;
  vertical-align: middle;

}



#about{
  padding-top: 130px;
  text-align: center;

}

#about .about-container{
 width: 76%;
max-width: 1920px ;
margin: 0px auto ;
text-align: center;
background-color: #FFF8F3;
padding: 131px 156px  ;
}


#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}

.about-info .infp-card p{
   font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.about-info .infp-card h4{
  font-size: 20px;

}


#skills{
  padding-top: 130px;
  text-align: center;
}

#skills .skills-container{
width: 76%;
max-width: 1920px;
margin: 0px auto ;
}

#skills .skills-container .skill-box{
  display: flex;
  
  gap: 24px;
}

.skill-box .skill-card{
   padding: 30px;
   /* border: 1px solid #ad2a2a    ; */
   box-shadow: 0 6px 50px 0 #00000010;
   max-width: 267px;
   /* border-radius: 10px; */
   /* margin-top: 20px; */

}

.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;

}
.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;

}